/*font-family: 'Pontano Sans', sans-serif;
font-family: 'Inconsolata', monospace;*/


.end-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center

}

.intro {
  font-size: 25px;
  font-family: 'Pontano Sans', sans-serif;
  text-align: center;
  color: #BD2B43;
  padding: 0  30px 10px 30px

}

img {
  height: 100px;
  text-align: center
}

.ends p {
  text-align: center;
  padding: 10px;

}

.end-links {
  padding: 5px;

}

p.end-links {
  padding: 0;

}

.end-description {
  font-family: 'Pontano Sans', sans-serif;
  padding: 0;
  font-size: 20px;

}

.ends a {
  text-align: center;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  color: white
}

.section-header {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  text-align: center;
  cursor: pointer
}

.search {
  background-color: #BD2B43;
  color: white;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.search h2 {
  margin: 0
}

/*Make this generic*/
.end-container {
  background-color: #BD2B43;
  color: white
}

.frameworks {
  display: flex;
  flex-direction: row;
  font-family: 'Pontano Sans', sans-serif;
  margin: 15px;
}

a {
  text-decoration: none;
  color: white
}

.documentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #BD2B43;
  color: white;
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
}

.show-code p {
  text-align: center;
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;

}



input {
  border-radius: 3px;
  height: 25px;
  width: 200px;
  border: 1px solid black;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center
}
.underline {
  text-decoration: underline;
}

.post-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

input[type="text"] {
  font-size: 20px;
  padding: 10px
}

button {
  font-size: 17px;
  font-weight: bold;
  font-family: 'Pontano Sans', sans-serif;
  color: white;
  height: 50px;
  width: 180px;
  border-radius: 6px;
  background-color: #3F51B5;
  border-color: #3F51B5;
  text-align: center;

}

.comments button {
  font-size: 14px;
  color: white;
  height: 40px;
  width: 140px;
  border-radius: 6px;
  background-color: #3F51B5;
  border-color: #3F51B5;
  text-align: center;

}

.comments p {
  padding: 0 15px 0 15px;
  font-size: 15px
}

.framework-row p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px 15px 10px 20px;

}

.maintainers {
  text-align: center
}

.show-code button {
  margin-top: 10px
}

.install-instructions {
  background-color: #F0F0F0;
  color: black;
  font-family: monospace;
  margin: 0 40px 0 40px
}

.install-instructions p {
  /*padding: 10px;*/
  font-size: 20px
}

.about-framework {
  font-family: 'Pontano Sans', sans-serif;
  /*text-align: center;*/
  font-size: 20px;
  padding: 15px;
  background-color: #BD2B43;
  color: white
}

h3 {
  text-align: center;
  font-size: 25px;
  color: #BD2B43;
  font-family: 'Pontano Sans', sans-serif;
}

.notable {
  text-align: center;
  font-size: 20px;
}

.learn-more {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #3F51B5;
  font-weight: bold;
  border: 1px solid #3F51B5;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}



.logo-wrapper {
  text-align: center

}

.framework-title {
  text-align: center
}

.icons {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  text-align: center
}

i {
padding: 15px;
font-size: 30px;
text-align: center
}



.pink {
  color: #BD2B43;
}

.framework-summary-text {
  margin-left: 20px;
  width: 100%;

}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-wrapper div {
  padding: 0 5px 0 5px
}

.bold {

}

.main-header {
  text-align: center;
  animation: type 7s steps(70, end);
  font-family: 'Inconsolata', monospace;
  font-size: 35px
}

.ends p {
  padding: 30px
}

.framework-image-repeat {
  /*width: 175px;*/
}

.framework-repeat {
  padding: 5px;
  margin: 10px;
  display: block;
  border-bottom: 1px solid #BD2B43;
}

.framework-wrapper {
  margin: 0 15px 0 15px;

}

#cursor {
  animation: type 4s steps(60, end);
  animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}

donut-chart{
  width: 500px;
  height: 500px;
  display: block;
  text-align: center
}

.charts {
  text-align: center
}

/*@keyframes type{
  from { width: 0;}
}*/
