<div class="header-wrapper">
  <div><img src={{vm.end.icon}}></img></div>
  <div><h2 class="section-header">on the {{vm.end.type}}</h2></div>
</div>
<div class='framework-title'>
  <img src={{vm.framework.image}}>
</div>


<p> Commments </p>

<div data-ng-repeat="comment in vm.framework.comments">
    <p>{{comment.link}}</p>
    <p>{{comment.username}}</p>
</div>


<div class="post-comment">
    <input type="text" ng-model="vm.newComment.link" placeholder="GitHub link" />
    <input type="text" ng-model="vm.newComment.username" placeholder="GitHub username" />
    <button data-ng-click="vm.create()">Show Your Stuff!</button>
  </div>
