<div class="header-wrapper">
  <div><img src={{vm.end.icon}}></img></div>
  <div><h2 class="section-header">on the {{vm.end.type}}</h2></div>
</div>

<div class="logo-wrapper">
  <img class="show-logo" src={{vm.framework.image}}>
</div>

<section class = "about-framework">
  <p>{{vm.framework.summary}}</p>
<!-- <div class="center"> -->
  <p class='maintainers'>{{vm.framework.title}} is currently maintained by {{vm.framework.maintainers}}</p>
<!-- </div> -->
  <div class="notable">
    <h2 class="notable-header">What's so great about it?</h2>
  </div>
<p>{{vm.framework.notable}}</p>
</section>

<h3>Basic install</h3>
  <div class="install-instructions">
    <p>{{vm.framework.npm}}</p>
    <p>{{vm.framework.cdn}}</p>
    <p>{{vm.framework.bower}}</p>
  </div>

<h3>Read the Documentation</h3>
<div class="documentation">
  <div>
    <p><a href={{vm.framework.docs}}>Primary Documentation</a></p>
  </div>
  <div>
    <p><a href={{vm.framework.assistance}}>Do a guided tutorial</a></p>
  </div>
  <div>
    <p><a href={{vm.framework.github}}>See the source code on GitHub</a></p>
  </div>
</div>

<section class="show-code">
<h3> Show Your Code </h3>

<p> If you've done a project in {{vm.framework.title}}, and you want to show your code, post a link to your repo below:</p>

<div class="post-comment">
    <input type="text" ng-model="vm.newComment.link" placeholder="GitHub link" />
    <input type="text" ng-model="vm.newComment.username" placeholder="GitHub username" />
</div>
<div class="maintainers">
  <button data-ng-click="vm.create()">Show Your Stuff</button>
</div>

<hr>

<div class='comments' data-ng-repeat="comment in vm.framework.comments">
    <p><span class="underline">GitHub User:</span> {{comment.username}}</p>
    <p>{{comment.link}}</p>
    <button ng-click="vm.destroy($index)">Delete Comment</button>
</div>

</section>
