
<div class="header-wrapper">
  <div><img src={{vm.end.icon}}></img></div>
  <div><h2 class="section-header"><span class="pink">on the {{vm.end.type}}</span> </h2></div>
</div>

<section class="search">
  <h2>Search Frameworks</h2>
  <br>
  <input type="text" ng-model="searchframeworks.titles">
</section>

<div class="framework-wrapper">
  <div class = "frameworks" data-ng-repeat="framework in vm.end.frameworks | filter: searchframeworks.titles">
    <div class = "framework-repeat">
      <div class="framework-row">
        <div class="framework-image">
          <img data-ui-sref="frameworkShow({type: vm.end.type, title: framework.title})" class="framework-image-repeat" src={{framework.image}}></img>
        </div>
        <div class="framework-summary-text">
          <p>{{framework.summary}}</p>
          <p data-ui-sref="frameworkShow({type: vm.end.type, title: framework.title})" class="learn-more">Get Up And Running</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class='d3'>
  <donut-chart data={{vm.end.data}}></donut-chart>
</section>
